<div id="app">
  <vue-sample></vue-sample>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1398.6600233311963!2d9.2177381!3d45.4834995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c6e8bcd87d01%3A0xf15905da226134a!2sCleopatra!5e0!3m2!1sja!2sjp!4v1589098888716!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>