<%= render 'shared/errors', obj: @tech %>
<div class="container">
  <div align="center">
    <div class="PageLayout-content">
      <div class="FormContent">
        <%= form_for @tech do |f| %>
          <div class="field">
            <%= f.text_field :name, placeholder: "Technology name" %>
          </div>
          <div class="actions">
            <%= f.submit "Create Tag" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>