//**************************  companies_ projects index page  **************************

.candidate-img{
  height: 130px;
  width: 130px;
  object-fit: none;
  border-radius: 125px;
  object-position: center;
}