.job_post_button{
	&,
  &:link,
  &:visited {
  font-size:1.5rem;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer;
	margin:3rem 0;
	background: $color_blue;
	color: white;
  }
  &:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(197, 183, 254, 0.9);

    &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    }
  }
  &:active,
  &:focus{
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(197, 183, 254, 0.9);
  }

}