//**************************  companies projects index page  **************************

.table-area {
  overflow-x: scroll;
  box-shadow: 0 0 6px rgba(0,0,0,.3);
  padding: 1rem;
	margin: 0 1rem;
	table {
		table-layout: inherit;
	}
}

tbody tr :nth-child(1) {
  font-weight: 600;
  text-align: center;
}

th{
  color: white;
  font-size: larger;
  font-weight: bolder;
  background: #252593;
  border: 1px solid black;
	padding: 1rem 1.5rem;
	text-align: center;
}

table td{
  border: 1px solid black;
	padding: 0.5rem;
	color: black;
}

table td a{
  color: black;
}

tbody td:nth-child(1) a {
	border-bottom: 1px solid black;
}

thead th:nth-child(1) {
  width: 40%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 6.5%;
}

thead th:nth-child(5) {
  width: 6.5%;
}

thead th:nth-child(6) {
  width: 7%;
}

.external-link-icon{
  font-size: 1rem;
  margin-left: 0.4rem;
}

@media screen and (min-width:1000px) {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  .table-area {
    overflow-x: unset;
  }

  table td{
    white-space: unset;
  }
}


//**************************  companies_ projects show page  **************************

.companies_project_show_area{
	padding: 2rem 0;
}

.companies_project_container{
	padding: 1rem;
	margin: auto;
	background: white;
	max-width: 1200px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	border: 1px solid black;
	
	p {
		border-bottom: 1px solid black;
		padding: 1rem;
	}

	.image-size{
		width: 100%;
		object-fit: contain;
	}

	.job-post-button-area{
		text-align: center;
	}

}

.company-project-edit-button{
	a {
		color: white;
	}
	&,
	&:link,
	&:visited{
	font-size: 1.5rem;
	text-decoration: none;
	padding: 1rem 5rem;
	display: inline-block;
	border-radius: 10rem;
	transition: all .2s;
	position: relative;
	border: none;
	cursor: pointer;
	margin:0 0 2rem;
	background: $color_blue;
	color: white;
	}
	&:hover {
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(197, 183, 254, 0.9);

		&::after {
		transform: scaleX(1.4) scaleY(1.6);
		opacity: 0;
		}
	}
	
	&:active,
	&:focus{
	outline: none;
	transform: translateY(-1px);
	box-shadow: 0 .5rem 1rem rgba(197, 183, 254, 0.9);
	}
}