<% provide(:button_text, 'Update') %>

<div class="outline">
  <div class="company-form">
    <section class="company-form__content">
      <h2>Company Update</h2>
      <%= render "form", form: @form.company, url: companies_company_path %>
    </section>
  </div>
</div>
