<% provide(:button_text, 'Regist') %>
<%= render 'shared/errors', obj: @form %>
<div class="outline">
  <div class="company-form">
    <section class="company-form__content">
      <h2>Company Registration</h2>
      <%= render "form", form: @form.company, url: companies_companies_path %>
    </section>
  </div>
</div>
