<button type="button" class="u-mb10 interest-button u-p2 u-block-right " id="jsModalOpen" value="<%=  %>">Send Message</button>
<div id="overlay">
	<div id="modalWindow">
		<div class="modal-message-box">
      <p>are you?</p>
			<button id="modal-close-btn">キャンセル</button>
			<button id="delete-comformation-btn">Action</button>
		</div>
	</div>
</div>
