<div class="wrapper">
	<header>
		<h1 class="company-header"><%= @company.name %></h1>
		<div class="image-area">
		  <div class="company-image" style="background-image: url(<%= @company.main_image %>)"></div>
		</div>
	</header>
	<main>
		<button type="button">Interest!</button>
	</main>
	<footer>

	</footer>
</div>