<div class="container">
  <div class="main home-grid">
    <div class="home-left-side">
      <div class="home-desctiption">
        <h1 class="welcome">DesiLopers<br> for your career</h1>
        <div class="home-text">
          <p class="home-first-text-area">
            <span class="u-text-yellow">Desi</span>gners + Deve<span class="u-text-yellow">lopers</span></br>  =</br> 
            <span class="u-text-yellow stronger">"DesiLopers"</span>
          </p>
          <p class="home-explanation u-pt20">
            DesiLopers enables all Designers and Developers can search the best job offer.
          </p>
        </div>
      </div>
      <div class="home-main-image">
      </div>      
    </div>
    <div class="home-right-side">
      <div class="login-button-area">
        <p><%= link_to "Sign Up", new_user_registration_path, class:"signup" %></p>
        <p class="under-little-space u-text-white">
          <%="Have an account？"%> <br><%= link_to "Login", new_user_session_path,class:"login-button" %>
        </p>
      </div>
    </div>
  </div>
</div>
