<div class="outline">
	<div class="project-form">
		<section class="project-form__content">
			<h2>Post New Job </h2>
			<%= render "form", form: @form.project, url: companies_projects_path %>
		</section>
	</div>
</div>
