// .navbar-collapse {
//   background:rgb(248, 248, 248);
//   // padding:0 20px;
// }

// .navbar-default .navbar-nav > .emphasize > a{
//   color:red;
//   &:visited, &:hover{
//     color:red;
//   }
// }

// .container-fluid{
//   padding-left:0px;
//   padding-right:0px;
  
// }

// .nav > li > a > img {
//     max-width: 70%;
// }

// .navbar{
//   margin-bottom:0;
// }

// .nav-child2{
// 	padding: 2rem 0;
// }

nav.header-nav a {
	color: #ffffff;
}
.header-nav ul{
	display: flex;
  justify-content: space-between;
}

.header-nav-list {
	display: inline-block;
	padding: 0 1rem;
}

.nav-user-link {
	display: inline;
}

.header-nav ul li {
	.header-logo-img{
		text-align: left;
	}

	.small-font{
		font-size: large;
	}

	.trial-color{
		color: rgb(236, 75, 34);
	}
}

.nav-main-list{
	font-size: x-large;
}

.sub-nav-list {
	border-right: 1px solid black;
}

.nav-link-area{
		display: inline-block;
		text-align: right;
    margin: auto 0;
	}

@media screen and (max-width: 1230px){
	.header-nav img{
		padding: 1rem 0;
		width: 255px;
	}

	.header-nav ul li a{
		font-size: larger;
	}
}