.main{
  height:30rem;
  width:100vm;
}

.main-massage{
  height:auto;
  min-height:100vh;
  width:100vw;
  // background-image: linear-gradient(
  //    to right bottom,
  //    rgba(white, .8),
  //    rgba(32,100,243, .8)),
  // asset-url('human2.jpg');
  // background-size: cover;
  // background-position: top;
  background-color:  #efefef;
  text-align:center;
}

.home-grid{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.home-left-side {
  display: grid;
  grid-template-columns: 2fr 1.4fr;
}

.home-right-side{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f71c5;
}

.home-main-image{
  background-image: url(image-path("home_img.jpg"));
  background-size: cover;
  background-position: center;
}

.welcome{
  text-align: center;
  padding:40px 0 20px 0;
  font-size:4rem;
  margin-bottom:2rem;
}

.signup{
  &,
  &:link,
  &:visited {
  text-transform: uppercase;
  font-size:1.5rem;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  //change for the <button> element
  border: none;
  cursor: pointer;
  background: white;
  color: #1f71c5;
  margin:3rem 0;
  }
  &:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(197, 183, 254, 0.9);

    &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    }
  }
  &:active,
  &:focus{
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(197, 183, 254, 0.9);
  }
}

.login-button{
  font-size:1.5rem;
  color:white;
  &:link,
  &:visited {
    color :white;
  }
}