.main{
  // height:30rem;
  width:100vm;
}

.main-massage{
  padding-bottom: 1rem;
  min-height: 85vh;
  height:auto;
  width:100vw;
  background-color: $color_main-grey;
  text-align:center;
}

.home-grid{
  margin: 2rem 2rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.home-left-side {
  margin: 0 2rem;
  display: grid;
  grid-template-columns: 2fr 1.4fr;
}

.home-text{
  padding: 1rem;
  color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;

  .home-first-text-area{
    font-size: 2rem;
    background: $color_blue;
  }

  .home-explanation{
    text-align: left;
    color: $color_dark_blue;
    font-size: 1.5rem;
  }
}

.home-right-side{
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color_blue;
}

.home-main-image{
  background-image: url(image-path("home_img.jpg"));
  background-size: cover;
  background-position: center;
}

.welcome{
  text-align: center;
  padding:40px 0 20px 0;
  font-size:4rem;
  margin-bottom:2rem;
}

.signup{
  &,
  &:link,
  &:visited {
  text-transform: uppercase;
  font-size:1.5rem;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  //change for the <button> element
  border: none;
  cursor: pointer;
  background: white;
  color: $color_blue;
  margin:3rem 0;
  }
  &:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(197, 183, 254, 0.9);

    &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    }
  }
  &:active,
  &:focus{
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(197, 183, 254, 0.9);
  }
}

.login-button{
  font-size:1.5rem;
  color:white;
  &:link,
  &:visited {
    color :white;
  }
}

@media screen and (max-width: 1280px){
  .welcome{
    font-size: 3rem;
  }
  .home-text{
    .home-first-text-area{
      padding: 1rem 0;
    }
  }
}

@media screen and (max-width: 1130px){
  .home-text{
    .home-first-text-area{
      font-size: 1.5rem;
      padding: 1rem 0;
    }
  }
}

@media screen and (max-width: 1010px){
  
  .home-left-side {
    display: block;
  }

  .home-main-image{
    background-image: unset;
  }

  .signup, .signup:link, .signup:visited {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 770px){
  .home-grid{
    margin: 0;
    display: block;
  }

  .welcome{
    margin-top: 1rem;
    padding: 0;
  }
  
  .home-right-side{
    display: block;
    margin: 1rem 0;
  }

  .home-left-side{
    margin: 0;
  } 

  .home-explanation{
    padding: 0 1rem;
  }

  .home-text{
    padding: 0;
  }

  .signup, .signup:link, .signup:visited {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .login-button-area {
    padding: 4rem 0;
  }
}

@media screen and (max-width: 390px){
  .welcome{
    font-size: 2.5rem;
  }
}

.project-element a{
  white-space: pre-line;
}

.project-element {
  text-align: left;
}