// User index =======================================
.user_index{
  display:flex;
  flex-flow:wrap;
  
}

.boxbox{
  display:block;
}

.user_box{
  display:flex;
  flex-flow:row;
  list-style:none;
  border:solid 1px;
  border-radius:5px;
  margin:0.5rem 30px;
  width:44vw;
  position:relative;
  background:white;
  
  tr{
  border-bottom:solid 1px #b9b7bc;
  }
  
  th{
    border-right:solid 1px #b9b7bc;
    background:#eeeeee;
    width:10vw;
  }
  
  td{
    text-align:left;
  }
}

@media (min-width: 250px) and (max-width: 424px){
  .user_box{
    width:85vw;
    
  th{
    border-right:solid 1px #b9b7bc;
    background:#eeeeee;
    width:13vw;
    font-size:0.6rem;
    
  }
  
  td{
    text-align:center;
    font-size:0.6rem;
  }
    
    
  }

}

@media (min-width: 425px) and (max-width: 528px){
  .user_box{
    width:85vw;
    
  th{
    border-right:solid 1px #b9b7bc;
    background:#eeeeee;
    width:12vw;
    font-size:0.8rem;
    
  }
  
  td{
    text-align:center;
    font-size:0.8rem;
  }
    
    
  }
}


@media (min-width: 528px) and (max-width: 670px){
  .user_box{
    width:85vw;
    
    th{
      border-right:solid 1px #b9b7bc;
      background:#eeeeee;
      width:12vw;
      
    }
    
    td{
      text-align:center;
    }
  }  
}

@media (min-width: 670px) and (max-width: 750px){
  .user_box{
    width:100vw;
  }
}

@media (min-width: 750px) and (max-width: 858px){
  .user_box{
    width:42vw;
  }
}

@media (min-width: 858px) and (max-width: 1000px){
  .user_box{
    width:43vw;
  }
}


@media (min-width: 1000px){
  .user_box{
    width:44vw;
  }
  
}

.skill_info{
  display:block;
  text-decoration:none;
  padding:0px 3px;
  
}

.hull_a{
  width:100%;
}

.user_info{
  display:inline-block;
  
}





////////////////////////////user show.html
.user_image-size img{
  height: 405px;
  width: 405px;
}

#profile-pic {
  float:left;
  margin-top: 0.2rem;
}

@media (min-width: 320px) and (max-width: 425px){
.user_image-size img{
  height:290px;
  width:300px;
}

#profile-pic {
  float:inherit;
}
  
}

@media (min-width: 425px) and (max-width: 525px){
	.user_image-size img{
		height:400px;
		width:400px;
	}

	#profile-pic {
		float:sinherit;
	}
}

@media (min-width: 525px) and (max-width: 648px){
	.user_image-size img{
		height: 500px;
		width: 500px;
	}
	#profile-pic {
		float:inherit;
	}
}

@media (min-width: 648px) and (max-width: 768px){
	.user_image-size img{
		height: 300px;
		width: 300px;
	}
}


.user-related-box{
  display:flex;
  flex-flow:row;
  list-style:none;
  border:solid 1px;
  border-radius:5px;
  margin:0.5rem 30px;
  width:57%;
  position:relative;
  background:white;
  
  tr{
  border-bottom:solid 1px #b9b7bc;
  }
  
  th{
    border-right:solid 1px #b9b7bc;
    background:#eeeeee;
    width:12vw;
    text-align: center;
  }
  
  td{
    text-align:left;
  }
}

@media (min-width: 320px) and (max-width: 425px){
  .user-related-box{
  	width: 90%;
		th{
			width:24vw;
		}
	}
}

@media (min-width: 425px) and (max-width: 648px){
  .user-related-box{
		width: 82%;
		th{
			width:19vw;
		}
	}
}

@media (min-width: 648px) and (max-width: 768px){
	.user-related-box{
		width: 49%;
	}
}

@media (min-width: 768px) and (max-width: 892px){
	.user-related-box{
		width: 42%;
	}
}

@media (min-width: 892px) and (max-width: 1024px){
	.user-related-box{
		width: 50%;
	}
}

.experience-part{
  p{
    width:80%;
    border: black 1px solid;
  }
}
.experience{
  clear: both;
  margin: 9rem 0 1rem 0;
  background: #86a3f7
}

.portfolio-part{
  margin:0;
}

.portfolio1{
  margin:2rem 0;
  img{
    float:left;
  }
}

.portfolio2{
  clear: both;
  margin:10rem 0;
  img{
    float:right;
  }
}
.portfolio3{
  clear: both;
  img{
    float:left;
  }
}

#profile-pic-size{
  height:320px;
  width:320px;
}

.back-button{
  clear: both;
}

.button{
  border:1px solid black;
}

.comment-part .name_color{
  color:blue;
}

.comment-area{
  max-width:50%;
  overflow-wrap: break-word;
  text-align: center;
}

.small-pic-size{
  height:50px;
  width:50px;
}

.commented-user{
  display:flex;
  flex-flow:row;
  justify-content:center;
}
