@import "bootstrap-sprockets";
@import "bootstrap";
@import "gritter";

@import 'foundation/valiable/_valiables';
@import 'foundation/mixin/_mixins';
@import 'foundation/base/_base';

@import 'utility/_utility';
@import 'companies/_company_form';
@import 'companies/_project_form';
@import 'companies/_base';
@import 'users/_companies';
@import 'users/_confirmation';
@import 'users/_session_form';
@import 'projects';
@import 'interests';
@import 'header';

*{
  margin:0;
  padding:0;
  
}

html, body {
  font-size: 16px;
  font-family: sans-serif;
  color: #393939;
  background: #efefef;
}
body, div, p, h1, h2, h3, h4, ul, figure {
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover {
  color : black;
  text-decoration:none;
}

li {
  list-style-type:none;
}

table {
  width: 100%;
  table-layout: fixed;
}

table td {
  /*word-break: break-all;*/
  overflow-wrap : break-word;
}

td{
  overflow-wrap : break-word;
}

.list-toggle-con {
    height: 0;
    overflow: hidden;
}

.alert {
  margin-bottom:0;
  text-align: center;
  background: cyan;  
}

.user-edit-link{
  padding:3vh 0;
}

.user_nav{
  display:flex;
  margin: auto 0;

}

.container{
  height:100%;
  width:100%;
  padding:0;
}

.center{
  margin:0 auto;
}

.main{
  height:30rem;
  width:100vm;
}

.main-massage{
  height:auto;
  min-height:100vh;
  width:100vw;
  background-image: linear-gradient(
     to right bottom,
     rgba(white, .8),
     rgba(32,100,243, .8)),
  asset-url('human2.jpg');
  background-size: cover;
  background-position: top;
  text-align:center;
}

.explanation{
  text-align:center;
  font-size:2rem;
}

.welcome{
  text-align: center;
  padding:40px 0 20px 0;
  font-size:4rem;
  margin-bottom:2rem;
}

.signup{
  &,
  &:link,
  &:visited {
  text-transform: uppercase;
  font-size:3rem;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  //change for the <button> element
  border: none;
  cursor: pointer;
  background:#547ded;
  color:white;
  margin:3rem 0;
  }
  &:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(197, 183, 254, 0.9);

    &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    }
  }
  &:active,
  &:focus{
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(197, 183, 254, 0.9);
  }
}

.login-button{
  font-size:1.5rem;
  color:white;
  &:link,
  &:visited {
    color :white;
  }
}
.button-against-whitebackground{
  color:blue;
  &:link,
  &:visited {
    color :blue;
  }
  
}


// User index =======================================
.user_index{
  display:flex;
  flex-flow:wrap;
  
}

.boxbox{
  display:block;
}

.user_box{
  display:flex;
  flex-flow:row;
  list-style:none;
  border:solid 1px;
  border-radius:5px;
  margin:0.5rem 30px;
  width:44vw;
  position:relative;
  background:white;
  
  tr{
  border-bottom:solid 1px #b9b7bc;
  }
  
  th{
    border-right:solid 1px #b9b7bc;
    background:#eeeeee;
    width:10vw;
  }
  
  td{
    text-align:left;
  }
}

@media (min-width: 250px) and (max-width: 424px){
  .user_box{
    width:85vw;
    
  th{
    border-right:solid 1px #b9b7bc;
    background:#eeeeee;
    width:13vw;
    font-size:0.6rem;
    
  }
  
  td{
    text-align:center;
    font-size:0.6rem;
  }
    
    
  }

}

@media (min-width: 425px) and (max-width: 528px){
  .user_box{
    width:85vw;
    
  th{
    border-right:solid 1px #b9b7bc;
    background:#eeeeee;
    width:12vw;
    font-size:0.8rem;
    
  }
  
  td{
    text-align:center;
    font-size:0.8rem;
  }
    
    
  }
}


@media (min-width: 528px) and (max-width: 670px){
  .user_box{
    width:85vw;
    
    th{
      border-right:solid 1px #b9b7bc;
      background:#eeeeee;
      width:12vw;
      
    }
    
    td{
      text-align:center;
    }
  }  
}

@media (min-width: 670px) and (max-width: 750px){
  .user_box{
    width:100vw;
  }
}

@media (min-width: 750px) and (max-width: 858px){
  .user_box{
    width:42vw;
  }
}

@media (min-width: 858px) and (max-width: 1000px){
  .user_box{
    width:43vw;
  }
}


@media (min-width: 1000px){
  .user_box{
    width:44vw;
  }
  
}

.user_info{
  display:inline-block;
  
}

.user_name{
  display:block;
  text-align:center;
  font-size: 1.5rem;
  
  
}

.user_image{
  
}

.skill_info{
  display:block;
  text-decoration:none;
  padding:0px 3px;
  
}


.skill_list{
  // width: 100%;
  // table-layout: fixed;
  
  td{
  // word-break: break-all;

  }
} 


.hull_a{
  width:100%;
}

.label{
  margin-right:10px;
}

////////////////////////////user show.html
.user_image-size img{
  height: 405px;
  width: 405px;
}

#profile-pic {
  float:left;
  margin-top: 0.2rem;
}

@media (min-width: 320px) and (max-width: 425px){
.user_image-size img{
  height:290px;
  width:300px;
}

#profile-pic {
  float:inherit;
}
  
}

@media (min-width: 425px) and (max-width: 525px){
.user_image-size img{
  height:400px;
  width:400px;
}

#profile-pic {
  float:inherit;
}
  
}

@media (min-width: 525px) and (max-width: 648px){
.user_image-size img{
  height: 500px;
  width: 500px;
}
#profile-pic {
  float:inherit;
}
}

@media (min-width: 648px) and (max-width: 768px){
.user_image-size img{
  height: 300px;
  width: 300px;
}
}


.user-related-box{
  display:flex;
  flex-flow:row;
  list-style:none;
  border:solid 1px;
  border-radius:5px;
  margin:0.5rem 30px;
  width:57%;
  position:relative;
  background:white;
  
  tr{
  border-bottom:solid 1px #b9b7bc;
  }
  
  th{
    border-right:solid 1px #b9b7bc;
    background:#eeeeee;
    width:12vw;
    text-align: center;
  }
  
  td{
    text-align:left;
  }
}

@media (min-width: 320px) and (max-width: 425px){
  .user-related-box{
  width: 90%;
  th{
    width:24vw;
  }
}
}

@media (min-width: 425px) and (max-width: 648px){
  .user-related-box{
  width: 82%;
  th{
    width:19vw;
  }
}
}

@media (min-width: 648px) and (max-width: 768px){
.user-related-box{
  width: 49%;
}
}

@media (min-width: 768px) and (max-width: 892px){
.user-related-box{
  width: 42%;
}
}

@media (min-width: 892px) and (max-width: 1024px){
.user-related-box{
  width: 50%;
}
}

.experience-part{
  p{
    width:80%;
    border: black 1px solid;
  }
}
.experience{
  clear: both;
  margin: 9rem 0 1rem 0;
  background: #86a3f7
}

.portfolio-part{
  margin:0;
}

.portfolio1{
  margin:2rem 0;
  img{
    float:left;
  }
}

.portfolio2{
  clear: both;
  margin:10rem 0;
  img{
    float:right;
  }
}
.portfolio3{
  clear: both;
  img{
    float:left;
  }
}

#profile-pic-size{
  height:320px;
  width:320px;
}

.back-button{
  clear: both;
}

.button{
  border:1px solid black;
}

.comment-part .name_color{
  color:blue;
}

.comment-area{
  max-width:50%;
  overflow-wrap: break-word;
  text-align: center;
}

.small-pic-size{
  height:50px;
  width:50px;
}

.commented-user{
  display:flex;
  flex-flow:row;
  justify-content:center;
}

/////////////////////////// sessions new.html
.field{
  margin: 2vh 0;
}

//////////////////////////// user/_form.html
textarea select input{
  border: 1px solid black;
}
.skill_head{
  font-weight:bold;
}

.picture_head{
  text-align:center;
  margin: auto 1rem;
  font-weight:bold;
}

.PageLayout-content {
    margin: 0 auto;
    max-width: 63rem;
    width: 100%;
}

.FormContent {
    background-color: #fff;
    padding: 1rem;
    font-family: Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,Noto,sans-serif;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 2.5rem;
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
    margin: 4rem 0;
}

.text-sm-field{
  height: 2rem;
  width: 80%; 
}


////////////////////////////sessions/ new.html

.login-head{
  font-weight:bold;
  font-size:1.5rem;
}

/////////////////////////////portfolios/ form

.required:after {
    content: " *";
    color: #E00;
}

.bigger{
  font-size:1.5rem;
}

.text-field{
  width: 80%;
  height: 15vh;
}

.note{
  padding: 10px 40px;
  display: flex;
  flex-flow: column;
  background: lightpink;
  width: 48%;
  margin: auto;
  min-width: 340px;
}

.note_content {
  text-align: center;
}