@import "bootstrap-sprockets";
@import "bootstrap";
@import "gritter";

@import 'foundation/valiable/_valiables';
@import 'foundation/mixin/_mixins';
@import 'foundation/base/_base';

@import 'utility/_utility';
@import 'companies/_company_form';
@import 'companies/_project_form';
@import 'companies/_base';
@import 'users/_companies';
@import 'users/_confirmation';
@import 'users/_session_form';
@import 'users/_password_reset';
@import 'projects';
@import 'interests';
@import 'header';
@import 'home';
@import 'users';

*{
  margin:0;
  padding:0;
  
}

html, body {
  font-size: 16px;
  font-family: sans-serif;
  color: $color_blue;
  background: $color_blue;
}
body, div, p, h1, h2, h3, h4, ul, figure {
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover {
  color : black;
  text-decoration:none;
}

li {
  list-style-type:none;
}

table {
  width: 100%;
  table-layout: fixed;
}

table td {
  /*word-break: break-all;*/
  overflow-wrap : break-word;
}

td{
  overflow-wrap : break-word;
}

.list-toggle-con {
    height: 0;
    overflow: hidden;
}

.alert {
  margin-bottom:0;
  text-align: center;
  background: cyan;  
}

.user-edit-link{
  padding:3vh 0;
}

.container{
  height:100%;
  width:100%;
  padding:0;
}

.button-against-whitebackground{
  color:blue;
  &:link,
  &:visited {
    color :blue;
  }
}

/////////////////////////// sessions new.html
.field{
  margin: 2vh 0;
}

//////////////////////////// user/_form.html
textarea select input{
  border: 1px solid black;
}
.skill_head{
  font-weight:bold;
}

.picture_head{
  text-align:center;
  margin: auto 1rem;
  font-weight:bold;
}

.PageLayout-content {
    margin: 0 auto;
    max-width: 63rem;
    width: 100%;
}

.FormContent {
    background-color: #fff;
    padding: 1rem;
    font-family: Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,Noto,sans-serif;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 2.5rem;
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
    margin: 4rem 0;
}

.text-sm-field{
  height: 2rem;
  width: 80%; 
}


////////////////////////////sessions/ new.html

.login-head{
  font-weight:bold;
  font-size:1.5rem;
}

/////////////////////////////portfolios/ form

.required:after {
    content: " *";
    color: #E00;
}

.bigger{
  font-size:1.5rem;
}

.text-field{
  width: 80%;
  height: 15vh;
}

.note{
  padding: 10px 40px;
  display: flex;
  flex-flow: column;
  background: lightpink;
  width: 48%;
  margin: auto;
  min-width: 340px;
}

.note_content {
  text-align: center;
}