.channel-area {
	display: flex;
	flex-flow: row nowrap;
	background: aliceblue;
	min-height: inherit;
}

.messageFromUser {
	background-color: $color-blue;
	color: white;
	width: min-content;
	display: block;
	text-align: right;
	padding: 1rem;
	margin: .5rem;
	align-self: flex-end;
}

.messageFromCompany {
	width: min-content;
	display: block;
	background-color: white;
	text-align: left;
	padding: 1rem;
	margin: .5rem;
}

.channel-list {
	flex: 0 0 40%;
	background: white;
}

.messsage-area {
	display: flex;
	flex: 0 0 60%;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.channel-item {
	padding: .5rem;
	display: flex;
	flex-flow: row nowrap;
	cursor: pointer;
}

div#messageDisplay {
	display: flex;
	flex-flow: column;
	padding: 1rem;
}

.sender-image {
	flex: 0 0 20%;

	@media screen and (max-width: 700px) {
		display: none;
	}
}

.sender-name {
	font-size: 1.2rem;
	font-weight: 800;
	padding: 0 .4rem;
	@media screen and (max-width: 600px) {
		font-size: 1rem;
	}
}

.latest-message {
	text-align: left;
	padding: 0 .4rem;
	color: rgba(0, 0, 0, 45%);
}

.inputMessageArea {
	position: sticky;
	bottom: 0;
	background: #1f71c5;
	display: none;

}

.messageAreaDisplay {
	display: block;
}

button#messageSendBtn {
	flex: 0 0 20%;
}

form#messageForm {
	display: flex;
	flex-flow: row wrap;
}

textarea#messageTextArea {
	flex: 0 0 80%;
	line-height: 1;
}