.interest-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  nav{
    background: palegreen;
  }
}

.interest-project-area {
  display: grid;
  grid-template-columns: 1fr 2.3fr;
  border: 1px solid black;
  background: white;

  .project-description {
    padding: 0 1rem;
  }

  .project-header {
    font-size: larger;
    font-weight: 600;
  }

  .company-prefecture {
    display: inline-block;
  }

  .company-emp-number {
    display: inline-block;
  }

  .company-name {
    text-align: left;
  }
}

