.slider {
max-width: 280px;
margin: 0 auto;
padding: 0;
}

.slider-area {
  overflow: hidden;
}

.slider-img {
  width: 700px;
  img {
    width: 100%;
    height: auto;
  }
}

.project-header {
  font-size: x-large;
  font-weight: 600;
}

@media screen and(max-width: 1000px){
  .slider-img {
    width: 400px;
  }
}

@media screen and(max-width: 540px){
  .slider-img {
    width: 250px;
  }
}

.slider .slick-list {
  overflow: visible;
}

button.slick-prev {
  display: none !important;
}

button.slick-next {
  display: none !important;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.project-main-container {
  background: $color_blue;
}

.side-container {
  background: $color_main-grey;
}

.project-container {
  max-width: 100%;  
  background: white;
  margin: 0 auto;
  padding: 2rem;
}

.project-container:not(:last-child) {
  margin-bottom: 1rem;
}

.project-image-area {
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    width: 100%;
  }
}

.project-main-image{
  height: 500px;
  width: 1080px;
  background-size: cover;
  background-position: top;

  img{
    object-fit: cover;
    width: 1080px;
    height: 500px;
  }
}

.project-detail-container{
  width: 1080px;
  margin: 0 auto;
}