// ***************************   project index    ***************************

.slider {
max-width: 280px;
margin: 0 auto;
padding: 0;
}

.slider-area {
  overflow: hidden;
}

.slider-img {
  width: 700px;
  img {
    width: 100%;
    height: auto;
  }
}

.project-header {
  font-size: x-large;
  font-weight: 600;
}

.slider .slick-list {
  overflow: visible;
}

button.slick-prev {
  display: none !important;
}

button.slick-next {
  display: none !important;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.project-main-container {
  padding: 1rem 1rem;

  .project-container {
    max-width: 100%;  
    background: white;
    margin: 3rem auto;
    padding: 2rem;

    .company-name :hover, .project-header :hover{
      color: $color_blue;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .project-image-area {
      display: grid;
      grid-template-columns: 1fr 1fr;

      img {
        width: 100%;
      }
    }
  }

  .project-container:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }
}

.side-container {
  background: $color_main-grey;
}

@media screen and(max-width: 1000px){
  .slider-img {
    width: 400px;
  }

  .project-main-container {
    .project-container {
      margin: 1rem auto;
    }
  }
}

@media screen and(max-width: 540px){
  .slider-img {
    width: 250px;
  }
}

// ***************************   project show    ***************************
.project-main-image{
  height: 500px;
  width: 1080px;
  background-size: cover;
  background-position: top;

  img{
    object-fit: cover;
    width: 1080px;
    height: 500px;
  }
}

.project-detail-container{
  width: 1080px;
  margin: 0 auto;
}