.password-reset-wrapper{
	margin: auto;
  max-width: 1000px;
}

.password-reset-form {
  background: white;
	height: 494px;
}

.pass-reset-form__content {
  padding: 3rem 1rem;
}

.reset-button{
  color: white;
  background: #1f71c5;
}

.pass-reset-input-area{
	margin: 2vh auto;
  max-width: 400px;
}

.pass-reset-width{
	width:100%;
}